<div ng-controller="HomeController">
   <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
         <div class="row">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
            </div>
            <div style="align=center;"class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav main-nav  clear navbar-right ">
                  <li><a ng-click="Admin()" class="color_animation">INICIO</a></li>
                  <li><a ng-click="ReservationAdmin()" class="color_animation">RESERVACIONES</a></li>
                  <li><img id ="logo" src="images/logo.png"></a></li>
                  <li><a ng-click="QuoteAdmin()" class="color_animation">COTIZACIONES</a></li>
                  <li><a ng-click="Reports()" class="color_animation">REPORTES</a></li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
   <section class="container">
      <div class="login">
         <img id ="logo" ng-click="Home()" src="../images/logo.png">
         <br><br>
         <h2 class="top-title2">Registro usuarios</h2>
         <br><br>
         <form method="post" action="index.html">
            <p>Nombre del usuario: <input type="text" name="nombre" value="" placeholder="Ej. María Lopez" ng-model="user.name"></p>
            <p>Correo electrónico: <input type="text" value="" placeholder="email@email.com" ng-model="user.email"></p>
            <p>Número telefónico: <input type="text" value="" placeholder="222222222" ng-model="user.number"></p>
            <p>Contraseña: <input type="password" value="" placeholder="***********" ng-model="user.password"></p>
            <p>Tipo de usuario: 
               <input type="radio" name="scope" value="Administrador" ng-model="user.userType"> Administrador&nbsp;&nbsp;&nbsp;
               <input type="radio" name="scope" value="Mesero" ng-model="user.userType"> Mesero&nbsp;&nbsp;&nbsp;
               <input type="radio" name="scope" value="Cliente" ng-model="user.userType"> Cliente
            </p>
            <br>
            <input type="button" class="btn btn-primary" value="Registrar usuario" ng-click="registerAdmin()">
         </form>
      </div>
   </section>
</div>