<div ng-controller="HomeController">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
         <div class="container">
            <div class="row">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                  </button>
               </div>
               <div style="align=center;"class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav main-nav  clear navbar-right ">
                     <li><a ng-click="Admin()" class="color_animation">INICIO</a></li>
                     <li><a ng-click="ReservationAdmin()" class="color_animation">RESERVACIONES</a></li>
                     <li><img id ="logo" src="images/logo.png"></a></li>
                     <li><a ng-click="QuoteAdmin()" class="color_animation">COTIZACIONES</a></li>
                     <li><a ng-click="RegisterAdmin()" class="color_animation">USUARIOS</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </nav>
      <!-- ============ Reports  ============= -->
      <br><br><br>
      <section>
         <div class="container">
            <br><br><br>
            <h2 class="top-title2">Reportes</h2>
            <table class="reportTable">
               <tr class="report">
                  <td><input id="chart1" type="button" class="top-title2 btn2 btn-primary" value="Entradas" ng-click="show('graph1')"></td>
                  <td><input id="chart2" type="button" class="top-title2 btn2 btn-primary" value="Platos Internacionales" ng-click="show('graph2')"></td>
                  <td><input id="chart3" type="button" class="top-title2 btn2 btn-primary" value="De la Parilla" ng-click="show('graph3')"></td>
               </tr>
               <tr class="report">
                  <td><input id="chart4" type="button" class="top-title2 btn2 btn-primary" value="Pollo y Pescado" ng-click="show('graph4')"></td>
                  <td><input id="chart5" type="button" class="top-title2 btn2 btn-primary" value="Camarones" ng-click="show('graph5')"></td>
                  <td><input id="chart6" type="button" class="top-title2 btn2 btn-primary" value="Bebidas" ng-click="show('graph6')"></td>
               </tr>

            </table>
            <div ng-show="divShow == 'graph1'">
            
               
            </div>
            <div ng-show="divShow == 'graph2'">
               
            </div>
            <div ng-show="divShow == 'graph3'">
               
            </div>
            <div ng-show="divShow == 'graph4'">
               
            </div>
            <div ng-show="divShow == 'graph5'">
               
            </div>
            <div ng-show="divShow == 'graph6'">
               
            </div>
         </div>
      </section>
   </div>
